/********************************************************************************
SASS VARIABLES
********************************************************************************/

$break-small-min: 768px;
$break-small-max: 991px;
$break-medium-min: 992px;
$break-medium-max: 1199px;
$break-large-min: 1200px;

$basefont: 14px;

/********************************************************************************
GENERAL STYLING ELEMENTS
********************************************************************************/

hr {
	margin: 0.1em;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

/********************************************************************************
NAVBAR
********************************************************************************/

nav {
	font-size: 0.8em;
}

.navbar {
	margin-bottom: 0;
}

/********************************************************************************
HEADER
********************************************************************************/

header {
	background-image: url("../images/papbackground-1440-paper.jpg");

	[class^="col-"] {
		text-align: center;
	}
}

h1, 
h2,
h3 {
	margin: 0;
	font-family: "Agency FB", "Arial";
	font-weight: bold;
	text-align: center;
	padding: 0.5em;
}

h1{
	font-size: 2.5em;
}

h2,
h3 {
	font-size: 2em;
	color: #fff;
	background: #000;
}

/********************************************************************************
CONTENT - SERVICES
********************************************************************************/

#section-services {

	img {
		width: 30%;
		float: left;
		padding: 0.5em;
	}

}

.services-box {
	padding: 1em;
}

.services-title {
	padding: 0.5em 0 0.5em 0;
	font-size: 1.2em;
	text-align: center;
	font-weight: bold;
}

.services-list {
	padding: 0.5em 0 0.5em 3em;
	background-image: url('../images/checkmark-300x300.jpg');
	background-size: 2em;
	background-position: left center;
	background-repeat: no-repeat;
}


/********************************************************************************
CONTENT - PRICES
********************************************************************************/

#table-pricing {

	tr {

		img {
			width: $basefont * 2;
		}

		th,
		td {
			&:not(:nth-child(1)) {
				text-align: center;
			}

		}
	}

}

/********************************************************************************
CONTENT - ORDER FORM
********************************************************************************/

#form-order {
	margin: 0 auto;
	max-width: 1280px;
	background-image: url("../images/family-1280x400.jpg");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: top center;
	text-align: center;

	form {
		padding: 1em;
		background-color: #DCD2AA;
	}
	
}

/********************************************************************************
FOOTER
********************************************************************************/

footer {
	background-color: #000;
	color: #fff;
	text-align: center;

	.footer-partnerlink {
		text-align: right;
		background-color: #DCD2AA;

		a {
			text-decoration: none;
			color: #111;
			font-size: 0.8em;
		}
	}
}

/********************************************************************************
MEDIAQUERY
********************************************************************************/

/* Small Devices, .visible-sm-* */
@media (min-width: $break-small-min) and (max-width: $break-small-max) {
	body {
		font-size: $basefont * 1.2;
	}
}

/* Medium Devices, .visible-md-* */
@media (min-width: $break-medium-min) and (max-width: $break-medium-max) {
	body {
		font-size: $basefont * 1.4;
	}

	#form-order {
		padding: 0 22%;
	}
}

/* Large Devices, .visible-lg-* */
@media (min-width: $break-large-min) {
	body {
		font-size: $basefont * 1.6;
	}

	#form-order {
		padding: 0 22%;
	}
}